<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userAdd</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css">

</head>
<body>
<div class="layui-fluid" style="padding: 15px;" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input type="text" name="userId" data-th-value="${user.userId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input name="username" lay-verify="required" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男性">
                <input type="radio" name="sex" value="1" title="女性">
                <input type="radio" name="sex" value="2" title="保密">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司</label>
            <div class="layui-input-block">
                <input name="company" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                <input type="text" name="deptId" id="user-update-dept" class="layui-input" lay-filter="user-update-dept">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input name="email" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
                <input name="mobile" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效">
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input name="description" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="userForm">保存</button>
            </div>
        </div>
    </form>
</div>

</body>

<script src="/plugins/layui/layui.js"></script>
<script th:inline="javascript">
    //config的设置是全局的
    //链式编程
    layui.config({
        base: '/js/' //假设这是你存放拓展模块的根目录
    }).extend({ //设定模块别名
        treeSelect: 'lay/extends/treeSelect'
    });

    layui.use(['form','treeSelect'] ,function(){
        var $ = layui.jquery
            ,form = layui.form
            ,treeSelect = layui.treeSelect
            ,layer = layui.layer
            ,user = [[${user}]]; //需在script标签加th:inline="javascript"，否则无法转为js对象

        form.render();

        initUserValue();

        function initUserValue() {

            form.val("user-update-form", {
                "username": user.username,
                "mobile": user.mobile,
                "email": user.email,
                "status": user.status,
                "sex": user.sex,
                "description": user.description
            });
        }

        treeSelect.render({
            elem: '#user-update-dept',
            type: 'get',
            data: '/system/dept/select/tree',
            placeholder: '请选择',
            search: false,
            success: function () {
                treeSelect.checkNode('user-update-dept', user.deptId);
            }
        });

        //监听提交
        form.on('submit(userForm)', function(data){ //这块要跟表单中的lay-filter对应
            $.ajax({
                url: "/system/user/update",
                type: "post",
                async: false,   //不要让它异步提交
                data: data.field,
                dataType: "json",
                success: function (data) {
                    if(data.msg!='0'){
                        layer.alert("修改成功",{icon: 1,time:2000},function () {
                            layer.close(layer.index);
                            window.parent.location.reload();    //重新加载父页面，进行数据刷新
                        });
                    } else{
                        layer.alert("修改失败",{icon: 2,time:2000});
                    }
                }
            });
            return false;
        });
    });
</script>

</html>