<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="layui-header" th:fragment="header">
    <div class="layui-logo">
        <h1><a href="/admin"><i class="fa fa-home"></i><span> Sail</span></a></h1>
    </div>
    <ul class="layui-nav layui-layout-left layui-hide-xs">
        <li class="layui-nav-item side-switch layui-this"><a href="javascript:;"><i class="fa fa-dedent"></i></a></li>
        <span class="layui-nav-bar" style="left: 47px; top: 58px; width: 0px; opacity: 0;"></span>
    </ul>
</header>
</body>
</html>